body{
    background-image:url("assets/Oyster_back.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color:#6db18f9f;
}
a{
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("assets/lildude1.png");
    background-repeat: no-repeat;
    background-size:contain;
    font-family: "joschmi", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: "joschmi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 270%;
    margin:0%;
}
h2{
    font-family: "joschmi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 170%;
}
p{
    font-family: "noka", sans-serif;
    font-size: 110%;
    font-weight: 500;
    font-style: normal;
}
fieldset{
    width:70vw;
    height:75vh;
    background-image: url("assets/BackAsset.png");
    background-size:cover;
    background-repeat: no-repeat;
    margin:auto;
    border:none;
}
a{
    position:absolute;
    bottom: 8px;
    right: 16%;
}
.container{
    display:flex;
    flex-direction: column;
    padding-top: 6%;
}
.container h1{
    padding-left: 3%;
    color:#ca0b21;
}
.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alignment{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:15% auto;
    row-gap: 40px;
    font-family: "noka", sans-serif;
    font-size: 150%;
    font-weight: 600;
    font-style: normal;
}
.Opt1{
    display:flex;
    flex-direction: row;
}
.Opt2{
    display:flex;
    flex-direction: row;
}
.Opt3{
    display:flex;
    flex-direction: row;
}

#reward{
    width:50%;
    height:fit-content; 
    /* visibility: hidden; */
    display:none;
}
.sources{
    display:none;
}
#title{
    display:none; 
}
canvas{
    width:95vw;
    height:130vh;
    position:absolute;
    top:0;
    left:10px;
    display:block;
}


.listContainer{
    width:fit-content;
    height:75vh;
    position:absolute;
    top: 14%; 
    left: 7%; 
    display:flex;
    flex-flow:column wrap;
    justify-content: space-around;
    font-family: "noka", sans-serif;
    font-size: 120%;
    font-weight: 500;
    font-style: normal;
}
.backImage-container{
    display:inline-block;
    position:relative;
    
}
.backImage-container img{
    display:block;
    width:75%;
    height:100vh;
}
.overlayText{
    position:absolute;
    width:55%;
    height:70vh;
    top: 14%; 
    left: 7%; 
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
.overlayText::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.overlayText h2{
    color:#d7710c;
}

.credits{
    display:flex;
    flex-direction: column;
   align-items: center;
}